.About-Container{
    overflow: hidden;
    display: flex;
    width:100%;
    height: auto;
}

.About-image-container{
    flex:1.6;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.About-image{
    width:80%;
    height: 80%;
    object-fit: cover
}

.About-bio{
    flex: 3;
    padding-top: 20px;
    padding-right: 80px
}

.About-bio-role{
    font-family: "poppinsRegular";
    font-size: 16px;
    color: #828282
}

.About-bio-text{
    font-family: "poppinsRegular";
    margin-top: 18px;
    font-size: 20px;
    color: #828282;
    line-height: 1.6;
    text-align: justify;
}

.About-bio-text-bold{
    font-family: "poppinsBold"
}

.AboutDownloadButton{
    margin-top: 50px;
    width: 150px;
    height: 45px;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .About-image-container{
        display: none;
    }

    .About-bio{
        flex: 1;
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 20px;
        padding-right: 0px
    }

    .About-bio-text{
        font-size: 20px;        
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .About-Container{
        height: 700px;
    }
    .About-image-container{
        display: none;
    }

    .About-bio{
        flex: 1;
        text-align: center;
        margin-left: 32px;
        margin-right: 32px;
        padding-top: 20px;
        padding-right: 0px;
        
    }

    .About-bio-text{
        font-size: 18px;  
        margin: 24px 24px;
        line-height: 1.8;     
    }
}