.contact-container{
    width: 100%;
    height: 340px;
    padding-left: 40px;
}

.contact-title{
    font-family: "poppinsBold";
    font-size: 28px;
    margin-top: 60px;
}

.contact-details{
    font-family: "poppinsMedium";
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

.address-2{
    margin-top: 0px;
}

.contact-email{
    margin-top: 50px;   
}

.contact-social{
    width: 200px;
}

.contact-social > img {
    width: 24px;
    height: auto;
    margin-top: 16px;
    margin-right: 24px;
}