.navbar-default {
    background: transparent ;
    border-color:transparent;
}
.scrolled {
    background: black !important;
}


.navbar-brand{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    margin-left: 20px !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family:"poppinsMedium";
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}



.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.container {
    width: auto;
    margin-right: 20px
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navbar-brand{
        padding: 6px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}